section.about-me {
    padding: 70px 0;

    p.title {
        @include section-title;
    }

    h2.sub-title {
        @include section-sub-title;
    }

    div.skills-box {
        padding-top: 70px;
        padding-bottom: 70px;
        @include container;
        @include display-flex;
        justify-content: space-around;

        div.skill {
            div.progress-bar {
                @include display-flex;
                justify-content: center;
                width: 180px;
                height: 180px;
                border-radius: 50%;

                div.inner-progress-bar {
                    @include display-flex;
                    justify-content: center;
                    width: 170px;
                    height: 170px;
                    background-color: var(--Primary-color);
                    border-radius: 50%;

                    p.text {
                        font-family: Saira-w500;
                        font-size: 16px;
                    }
                }
            }

            div.HTML {
                background-image: conic-gradient(var(--Black-color) 315deg, #D1D1D1 0deg);
            }

            div.CSS {
                background-image: conic-gradient(var(--Black-color) 345deg, #D1D1D1 0deg);
            }

            div.JAVASCRIPT {
                background-image: conic-gradient(var(--Black-color) 270deg, #D1D1D1 0deg);
            }

            div.PHP {
                background-image: conic-gradient(var(--Black-color) 285deg, #D1D1D1 0deg);
            }

            p.skill-name {
                font-family: Saira-w600;
                font-size: 18px;
                text-align: center;
                padding-top: 14px;
            }
        }
    }

    section.my-tale {
        background-image: url(../img/Home-Background.jpg);
        background-position: 100% 100%;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;

        .content-box {
            width: 70%;
            margin: 0 auto;

            img {
                margin-bottom: 10px;
                margin-left: 25px;
            }

            p.text {
                font-family: Poppins-w600;
                font-size: 32px;
            }

            p.name {
                font-family: Saira-w400;
                padding-left: 15px;
                border: 1px solid var(--Black-color);
                border-bottom: 0;
                border-right: 0;
                border-top: 0;
                margin: 20px 0 0 10px;
            }
        }

        section.white-space {
            position: relative;
            height: 150px;
        }

        section.TOP {
            top: 0;
            background: linear-gradient(180deg, var(--Primary-color) 25%, rgba(233, 233, 233, 0) 100%);
        }

        section.BOTTOM {
            bottom: -32px;
            background: linear-gradient(0deg, var(--Primary-color) 25%, rgba(233, 233, 233, 0) 100%);
        }
    }

    section.what-i-do {
        padding-top: 50px;
        padding-bottom: 50px;

        h1.title {
            @include section-title;
        }

        div.service-box {
            @include container;
            padding-top: 100px;
            @include display-flex;

            div.box {
                border: 1px solid var(--Text-color);
                border-top: 0;
                border-bottom: 0;
                padding: 40px;

                img {
                    height: 50px;
                    width: 50px;
                }

                h3.title {
                    font-family: Saira-w500;
                    padding: 15px 0;
                    font-size: 20px;
                }

                p.text {
                    font-family: Poppins-w300;
                    opacity: 0.7;
                }
            }
        }
    }
}