section.portfolio {
    background-image: url(../img/Home-Background.jpg);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    h1.title {
        @include section-title;
    }

    div.content {
        @include container;
        padding-top: 80px;

        ul.filter {
            @include display-flex;
            justify-content: center;
            padding-bottom: 10px;

            li.filter-link {
                p {
                    font-family: Saira-w500;
                    padding: 10px;
                    margin: 0 10px;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }

        div.projects {
            @include display-flex;
            justify-content: space-between;
            flex-wrap: wrap;

            a {
                width: 30%;
                margin: 15px;

                img {
                    width: 100%;
                    height: 100%;
                    filter: grayscale(100%);

                    &:hover {
                        filter: none;
                    }
                }
            }
        }
    }

    section.white-space {
        position: relative;
        height: 150px;
    }

    section.TOP {
        top: 0;
        background: linear-gradient(180deg, var(--Primary-color) 25%, rgba(233, 233, 233, 0) 100%);
    }

    section.BOTTOM {
        bottom: 0;
        background: linear-gradient(0deg, var(--Primary-color) 25%, rgba(233, 233, 233, 0) 100%);
    }
}