section.social-media {
    position: fixed;
    top: 50%;
    left: -55px;
    transform: translateY(-50%);
    z-index: 100;

    div.content {
        transform: rotate(270deg);
        @include display-flex;
        align-items: normal;

        p.title {
            font-family: Poppins-w500;
            padding-right: 40px;
        }

        div.icon-group {
            a {
                margin-right: 10px;

                img {
                    width: 20px;
                    height: 20px;
                    transform: rotate(90deg);
                    filter: invert(39%) sepia(66%) saturate(800%) hue-rotate(329deg) brightness(95%) contrast(93%);
                }
            }
        }
    }
}