@import 'source/block';
@import 'source/font';
@import 'section/load';
@import 'section/side';
@import 'section/header';
@import 'section/user';
@import 'section/about';
@import 'section/resume';
@import 'section/portfolio';
@import 'section/contact';
@import 'section/footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: var(--Primary-color);
    font-size: 14px;
    outline: none;
    border: none;
    overflow-x: hidden;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

:root {
    --Primary-color: #EFEFEF;
    --Black-color: #2A2A2A;
    --Text-color: #D1D1D1;
}