@import 'source/block';
@import 'source/font';
@import 'section/header';
@import 'section/user';
@import 'section/about';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
}

body {
    background: var(--Primary-color);
    font-size: 14px;
    outline: none;
    border: none;
    overflow-x: hidden;
    user-select: none;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

:root {
    --Primary-color: #EFEFEF;
    --Black-color: #2A2A2A;
}