@font-face {
  font-family: Poppins-w100;
  src: url(../font/Poppins/Poppins-Thin.ttf);
}
@font-face {
  font-family: Poppins-w200;
  src: url(../font/Poppins/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: Poppins-w300;
  src: url(../font/Poppins/Poppins-Light.ttf);
}
@font-face {
  font-family: Poppins-w400;
  src: url(../font/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-w500;
  src: url(../font/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins-w600;
  src: url(../font/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: Poppins-w700;
  src: url(../font/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: Poppins-w800;
  src: url(../font/Poppins/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: Poppins-w900;
  src: url(../font/Poppins/Poppins-Black.ttf);
}
@font-face {
  font-family: Saira-w100;
  src: url(../font/Saira/Saira-Thin.ttf);
}
@font-face {
  font-family: Saira-w200;
  src: url(../font/Saira/Saira-ExtraLight.ttf);
}
@font-face {
  font-family: Saira-w300;
  src: url(../font/Saira/Saira-Light.ttf);
}
@font-face {
  font-family: Saira-w400;
  src: url(../font/Saira/Saira-Regular.ttf);
}
@font-face {
  font-family: Saira-w500;
  src: url(../font/Saira/Saira-Medium.ttf);
}
@font-face {
  font-family: Saira-w600;
  src: url(../font/Saira/Saira-SemiBold.ttf);
}
@font-face {
  font-family: Saira-w700;
  src: url(../font/Saira/Saira-Bold.ttf);
}
@font-face {
  font-family: Saira-w800;
  src: url(../font/Saira/Saira-ExtraBold.ttf);
}
@font-face {
  font-family: Saira-w900;
  src: url(../font/Saira/Saira-Black.ttf);
}
section.perloader {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Primary-color);
  height: 100vh;
  position: relative;
  z-index: 101;
}
section.perloader div.ring {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 0 5px var(--Black-color);
  animation: ringing 2s linear infinite;
}
section.perloader span.text {
  font-family: Saira-w600;
  color: var(--Black-color);
  font-size: 16px;
  text-transform: uppercase;
  animation: text 2s ease-in-out infinite;
}

@keyframes ringing {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px var(--Black-color);
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px var(--Black-color);
  }
}
@keyframes text {
  50% {
    color: var(--Primary-color);
  }
}
section.social-media {
  position: fixed;
  top: 50%;
  left: -55px;
  transform: translateY(-50%);
  z-index: 100;
}
section.social-media div.content {
  transform: rotate(270deg);
  display: flex;
  align-items: center;
  align-items: normal;
}
section.social-media div.content p.title {
  font-family: Poppins-w500;
  padding-right: 40px;
}
section.social-media div.content div.icon-group a {
  margin-right: 10px;
}
section.social-media div.content div.icon-group a img {
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
  filter: invert(39%) sepia(66%) saturate(800%) hue-rotate(329deg) brightness(95%) contrast(93%);
}

header.navbar {
  padding: 30px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
header.navbar nav.nav-bar {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header.navbar nav.nav-bar div.nav-logo a img {
  width: 100%;
  height: 100%;
}
header.navbar nav.nav-bar div.nav-logo a img.navbar-logo-white {
  display: none;
}
header.navbar nav.nav-bar div.nav-menu {
  display: flex;
  align-items: center;
}
header.navbar nav.nav-bar div.nav-menu div.nav-link {
  margin-left: 20px;
}
header.navbar nav.nav-bar div.nav-menu div.nav-link a {
  color: var(--Black-color);
  font-family: Saira-w500;
}
header.navbar nav.nav-bar div.nav-menu div.nav-link a:hover {
  opacity: 0.7;
}

header.navbar.sticky {
  position: fixed;
  padding: 25px 0;
  background-color: var(--Black-color);
}
header.navbar.sticky nav.nav-bar div.nav-logo a img.navbar-logo-white {
  display: block;
}
header.navbar.sticky nav.nav-bar div.nav-logo a img.navbar-logo-black {
  display: none;
}
header.navbar.sticky nav.nav-bar div.nav-menu div.nav-link a {
  color: var(--Primary-color);
  font-family: Saira-w400;
}

section.user-display {
  background-image: url(../img/Home-Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  height: 100vh;
}
section.user-display div.content-box {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  align-items: start;
  padding-top: 15%;
}
section.user-display div.content-box div.content p.text {
  font-family: Saira-w200;
  letter-spacing: 3px;
}
section.user-display div.content-box div.content h1.title {
  font-family: Saira-w600;
  font-size: 40px;
  padding-top: 12px;
}
section.user-display div.content-box div.content h2.sub-title {
  font-family: Poppins-w600;
  font-size: 30px;
  padding-top: 12px;
}
section.user-display div.content-box div.content a.button {
  display: inline-block;
  font-family: Saira-w500;
  background-color: var(--Black-color);
  color: var(--Primary-color);
  padding: 6px 34px;
  border: 2px solid var(--Black-color);
  cursor: pointer;
  margin-top: 30px;
}
section.user-display div.content-box div.content a.button:hover {
  background-color: transparent;
  color: var(--Black-color);
}
section.user-display div.content-box div.side-picture {
  position: relative;
  top: -15%;
  left: 26%;
  width: 420px;
  height: 420px;
}
section.user-display div.content-box div.side-picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
section.user-display section.white-space {
  position: relative;
  bottom: 150px;
  background: linear-gradient(0deg, var(--Primary-color) 25%, rgba(233, 233, 233, 0) 100%);
  height: 150px;
}

section.about-me {
  padding-top: 150px;
  padding-bottom: 70px;
}
section.about-me p.title {
  text-align: center;
  font-size: 32px;
  font-family: Saira-w700;
  position: relative;
}
section.about-me p.title::after {
  content: "";
  display: block;
  background-color: var(--Black-color);
  height: 1px;
  width: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}
section.about-me h2.sub-title {
  text-align: center;
  width: 70%;
  margin: 45px auto 0 auto;
  font-size: 14px;
  line-height: 30px;
  opacity: 0.8;
  font-family: Poppins-w100;
}
section.about-me div.skills-box {
  padding-top: 70px;
  padding-bottom: 70px;
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
section.about-me div.skills-box div.skill div.progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
section.about-me div.skills-box div.skill div.progress-bar div.inner-progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 170px;
  background-color: var(--Primary-color);
  border-radius: 50%;
}
section.about-me div.skills-box div.skill div.progress-bar div.inner-progress-bar p.text {
  font-family: Saira-w500;
  font-size: 16px;
}
section.about-me div.skills-box div.skill div.HTML {
  background-image: conic-gradient(var(--Black-color) 315deg, #D1D1D1 0deg);
}
section.about-me div.skills-box div.skill div.CSS {
  background-image: conic-gradient(var(--Black-color) 345deg, #D1D1D1 0deg);
}
section.about-me div.skills-box div.skill div.JAVASCRIPT {
  background-image: conic-gradient(var(--Black-color) 270deg, #D1D1D1 0deg);
}
section.about-me div.skills-box div.skill div.PHP {
  background-image: conic-gradient(var(--Black-color) 285deg, #D1D1D1 0deg);
}
section.about-me div.skills-box div.skill p.skill-name {
  font-family: Saira-w600;
  font-size: 18px;
  text-align: center;
  padding-top: 14px;
}
section.about-me section.my-tale {
  background-image: url(../img/Home-Background.jpg);
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
section.about-me section.my-tale .content-box {
  width: 70%;
  margin: 0 auto;
}
section.about-me section.my-tale .content-box img {
  margin-bottom: 10px;
  margin-left: 25px;
}
section.about-me section.my-tale .content-box p.text {
  font-family: Poppins-w600;
  font-size: 32px;
}
section.about-me section.my-tale .content-box p.name {
  font-family: Saira-w400;
  padding-left: 15px;
  border: 1px solid var(--Black-color);
  border-bottom: 0;
  border-right: 0;
  border-top: 0;
  margin: 20px 0 0 10px;
}
section.about-me section.my-tale section.white-space {
  position: relative;
  height: 150px;
}
section.about-me section.my-tale section.TOP {
  top: 0;
  background: linear-gradient(180deg, var(--Primary-color) 25%, rgba(233, 233, 233, 0) 100%);
}
section.about-me section.my-tale section.BOTTOM {
  bottom: -32px;
  background: linear-gradient(0deg, var(--Primary-color) 25%, rgba(233, 233, 233, 0) 100%);
}
section.about-me section.what-i-do {
  padding-top: 50px;
  padding-bottom: 50px;
}
section.about-me section.what-i-do h1.title {
  text-align: center;
  font-size: 32px;
  font-family: Saira-w700;
  position: relative;
}
section.about-me section.what-i-do h1.title::after {
  content: "";
  display: block;
  background-color: var(--Black-color);
  height: 1px;
  width: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}
section.about-me section.what-i-do div.service-box {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  align-items: center;
}
section.about-me section.what-i-do div.service-box div.box {
  border: 1px solid var(--Text-color);
  border-top: 0;
  border-bottom: 0;
  padding: 40px;
}
section.about-me section.what-i-do div.service-box div.box img {
  height: 50px;
  width: 50px;
}
section.about-me section.what-i-do div.service-box div.box h3.title {
  font-family: Saira-w500;
  padding: 15px 0;
  font-size: 20px;
}
section.about-me section.what-i-do div.service-box div.box p.text {
  font-family: Poppins-w300;
  opacity: 0.7;
}

section.resume {
  padding-top: 150px;
  padding-bottom: 70px;
}
section.resume h1.title {
  text-align: center;
  font-size: 32px;
  font-family: Saira-w700;
  position: relative;
}
section.resume h1.title::after {
  content: "";
  display: block;
  background-color: var(--Black-color);
  height: 1px;
  width: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}
section.resume div.context-box {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  align-items: normal;
  padding-top: 100px;
}
section.resume div.context-box div.education {
  width: 50%;
  flex: 1;
  padding-right: 15px;
}
section.resume div.context-box div.education h1.section-title {
  font-family: Saira-w600;
  font-size: 26px;
  padding-bottom: 20px;
}
section.resume div.context-box div.education div.block div.number-block {
  position: relative;
}
section.resume div.context-box div.education div.block div.number-block .number {
  font-family: Saira-w300;
  font-size: 18px;
  width: 47px;
  line-height: 46px;
  text-align: center;
  background-color: var(--Black-color);
  color: var(--Primary-color);
  display: inline-block;
  border-radius: 2px;
}
section.resume div.context-box div.education div.block div.number-block .number-block-style {
  font-family: Poppins-w500;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, var(--Text-color) 25%, var(--Primary-color));
  padding: 15px 0 10px 65px;
  z-index: -1;
}
section.resume div.context-box div.education div.block div.content {
  border: 1px solid var(--Text-color);
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  margin-left: 20px;
  padding: 20px 35px;
}
section.resume div.context-box div.education div.block div.content .content-title {
  font-family: Saira-w800;
  font-size: 17px;
  padding-bottom: 10px;
}
section.resume div.context-box div.education div.block div.content .content-sub-title {
  font-family: Poppins-w300;
  font-size: 11px;
  padding-bottom: 15px;
}
section.resume div.context-box div.education div.block div.content .text {
  font-size: 14px;
  line-height: 30px;
  opacity: 0.8;
  font-family: Poppins-w300;
  width: 90%;
}
section.resume div.context-box div.experiences {
  width: 50%;
  flex: 1;
  padding-left: 15px;
}
section.resume div.context-box div.experiences h1.section-title {
  font-family: Saira-w600;
  font-size: 26px;
  padding-bottom: 20px;
}
section.resume div.context-box div.experiences div.block div.number-block {
  position: relative;
}
section.resume div.context-box div.experiences div.block div.number-block .number {
  font-family: Saira-w300;
  font-size: 18px;
  width: 47px;
  line-height: 46px;
  text-align: center;
  background-color: var(--Black-color);
  color: var(--Primary-color);
  display: inline-block;
  border-radius: 2px;
}
section.resume div.context-box div.experiences div.block div.number-block .number-block-style {
  font-family: Poppins-w500;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, var(--Text-color) 25%, var(--Primary-color));
  padding: 15px 0 10px 65px;
  z-index: -1;
}
section.resume div.context-box div.experiences div.block div.content {
  border: 1px solid var(--Text-color);
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  margin-left: 20px;
  padding: 20px 35px;
}
section.resume div.context-box div.experiences div.block div.content .content-title {
  font-family: Saira-w800;
  font-size: 17px;
  padding-bottom: 10px;
}
section.resume div.context-box div.experiences div.block div.content .content-sub-title {
  font-family: Poppins-w300;
  font-size: 11px;
  padding-bottom: 15px;
}
section.resume div.context-box div.experiences div.block div.content .text {
  font-size: 14px;
  line-height: 30px;
  opacity: 0.8;
  font-family: Poppins-w300;
  width: 90%;
}

section.portfolio {
  background-image: url(../img/Home-Background.jpg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
section.portfolio h1.title {
  text-align: center;
  font-size: 32px;
  font-family: Saira-w700;
  position: relative;
}
section.portfolio h1.title::after {
  content: "";
  display: block;
  background-color: var(--Black-color);
  height: 1px;
  width: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}
section.portfolio div.content {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  padding-top: 80px;
}
section.portfolio div.content ul.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
section.portfolio div.content ul.filter li.filter-link {
  font-family: Saira-w500;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
}
section.portfolio div.content ul.filter li.filter-link:hover {
  opacity: 0.7;
}
section.portfolio div.content ul.filter li.filter-link.active {
  opacity: 0.7;
}
section.portfolio div.content div.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
section.portfolio div.content div.projects a {
  width: 30%;
  margin: 15px;
}
section.portfolio div.content div.projects a img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  border-radius: 5px;
}
section.portfolio div.content div.projects a img:hover {
  filter: none;
}
section.portfolio section.white-space {
  position: relative;
  height: 150px;
}
section.portfolio section.TOP {
  top: 0;
  background: linear-gradient(180deg, var(--Primary-color) 25%, rgba(233, 233, 233, 0) 100%);
}
section.portfolio section.BOTTOM {
  bottom: 0;
  background: linear-gradient(0deg, var(--Primary-color) 25%, rgba(233, 233, 233, 0) 100%);
}

section.project {
  background-image: url(../img/Project-Background.jpg);
  background-position: 100% 100%;
  background-size: cover;
  background-attachment: fixed;
}
section.project .content {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.project .content .block p {
  text-align: center;
}
section.project .content .block p.text-title {
  font-family: Saira-w700;
  font-size: 24px;
  padding-bottom: 10px;
}
section.project .content .block p.text {
  font-family: Saira-w300;
}
section.project section.white-space {
  position: relative;
  height: 150px;
}
section.project section.TOP {
  top: 0;
  background: linear-gradient(180deg, var(--Primary-color) 25%, rgba(233, 233, 233, 0) 100%);
}
section.project section.BOTTOM {
  bottom: 0;
  background: linear-gradient(0deg, var(--Primary-color) 25%, rgba(233, 233, 233, 0) 100%);
}

section.blog {
  padding: 70px 0;
}
section.blog h1.title {
  text-align: center;
  font-size: 32px;
  font-family: Saira-w700;
  position: relative;
}
section.blog h1.title::after {
  content: "";
  display: block;
  background-color: var(--Black-color);
  height: 1px;
  width: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}
section.blog h2.sub-title {
  text-align: center;
  width: 70%;
  margin: 45px auto 0 auto;
  font-size: 14px;
  line-height: 30px;
  opacity: 0.8;
  font-family: Poppins-w100;
}
section.blog div.content {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}
section.blog div.card-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
}
section.blog div.card-group div.card {
  width: 31.5%;
}
section.blog div.card-group div.card img {
  width: 100%;
  height: 270px;
  border-radius: 5px;
  filter: grayscale(100%);
}
section.blog div.card-group div.card img:hover {
  filter: none;
}
section.blog div.card-group div.card h1.card-title {
  color: var(--Black-color);
  padding-top: 20px;
  font-family: "Saira-w700";
  font-size: 18px;
}
section.blog div.card-group div.card p.text {
  color: var(--Black-color);
  padding-top: 18px;
  line-height: 30px;
  font-family: Poppins-w300;
}
section.blog div.card-group div.card button.button {
  display: inline-block;
  font-family: Saira-w500;
  background-color: var(--Black-color);
  color: var(--Primary-color);
  padding: 6px 34px;
  border: 2px solid var(--Black-color);
  cursor: pointer;
  margin-top: 30px;
}
section.blog div.card-group div.card button.button:hover {
  background-color: transparent;
  color: var(--Black-color);
}

section.contact {
  background-image: url(../img/Home-Background.jpg);
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}
section.contact h1.title {
  text-align: center;
  font-size: 32px;
  font-family: Saira-w700;
  position: relative;
}
section.contact h1.title::after {
  content: "";
  display: block;
  background-color: var(--Black-color);
  height: 1px;
  width: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}
section.contact h2.sub-title {
  text-align: center;
  width: 70%;
  margin: 45px auto 0 auto;
  font-size: 14px;
  line-height: 30px;
  opacity: 0.8;
  font-family: Poppins-w100;
}
section.contact div.contect-area {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.contact div.contect-area form.contact-form {
  width: 60%;
  padding-bottom: 50px;
}
section.contact div.contect-area form.contact-form div.block-1 {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
section.contact div.contect-area form.contact-form div.block-1 input {
  outline: none;
  border: 1px solid var(--Black-color);
  padding: 10px 8px;
  background: transparent;
  width: 100%;
  margin: 0 10px;
  font-family: Saira-w500;
}
section.contact div.contect-area form.contact-form div.block-1 input:last-child {
  margin-right: 0;
}
section.contact div.contect-area form.contact-form div.block-1 input:first-child {
  margin-left: 0;
}
section.contact div.contect-area form.contact-form div.block-2 textarea {
  outline: none;
  border: 1px solid var(--Black-color);
  padding: 10px 8px;
  background: transparent;
  width: 100%;
  height: 150px;
  font-family: Saira-w500;
}
section.contact div.contect-area form.contact-form button.button {
  display: inline-block;
  font-family: Saira-w500;
  background-color: var(--Black-color);
  color: var(--Primary-color);
  padding: 6px 34px;
  border: 2px solid var(--Black-color);
  cursor: pointer;
  cursor: pointer;
  display: block;
  margin: 30px auto 0 auto;
}
section.contact div.contect-area form.contact-form button.button:hover {
  background-color: transparent;
  color: var(--Black-color);
}
section.contact div.my-info {
  display: flex;
  align-items: center;
  align-items: normal;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
}
section.contact div.my-info div.block {
  padding: 0 40px;
  width: 33%;
}
section.contact div.my-info div.block h2.title {
  text-align: center;
  font-family: Saira-w700;
  font-size: 18px;
  padding-bottom: 15px;
}
section.contact div.my-info div.block p.text {
  text-align: center;
  font-family: Poppins-w400;
  opacity: 0.7;
}
section.contact section.white-space {
  position: relative;
  height: 150px;
}
section.contact section.TOP {
  top: 0;
  background: linear-gradient(180deg, var(--Primary-color) 25%, rgba(233, 233, 233, 0) 100%);
}
section.contact section.BOTTOM {
  bottom: 0;
  background: linear-gradient(0deg, var(--Primary-color) 25%, rgba(233, 233, 233, 0) 100%);
}

footer.footer {
  background-color: var(--Black-color);
  padding: 10px 0;
}
footer.footer p.text {
  color: var(--Primary-color);
  text-align: center;
  font-family: Saira-w300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--Primary-color);
  font-size: 14px;
  outline: none;
  border: none;
  overflow-x: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

:root {
  --Primary-color: #EFEFEF;
  --Black-color: #2A2A2A;
  --Text-color: #D1D1D1;
  --Red-color: #D95435;
}/*# sourceMappingURL=main.css.map */