@mixin container {
    width: 85%;
    height: 100%;
    margin: 0 auto;
}

@mixin display-flex {
    display: flex;
    align-items: center;
}

@mixin section-title {
    text-align: center;
    font-size: 32px;
    font-family: Saira-w700;
    position: relative;

    &::after {
        content: '';
        display: block;
        background-color: var(--Black-color);
        height: 1px;
        width: 30px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 10px;
    }
}

@mixin section-sub-title {
    text-align: center;
    width: 70%;
    margin: 45px auto 0 auto;
    font-size: 14px;
    line-height: 30px;
    opacity: 0.8;
    font-family: Poppins-w100;
}

@mixin primary-button {
    display: inline-block;
    font-family: Saira-w500;
    background-color: var(--Black-color);
    color: var(--Primary-color);
    padding: 6px 34px;
    border: 2px solid var(--Black-color);
    margin-top: 30px;

    &:hover {
        background-color: transparent;
        color: var(--Black-color);
    }
}