@font-face {
    font-family: Poppins-w100;
    src: url(../font/Poppins/Poppins-Thin.ttf);
}

@font-face {
    font-family: Poppins-w200;
    src: url(../font/Poppins/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: Poppins-w300;
    src: url(../font/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: Poppins-w400;
    src: url(../font/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-w500;
    src: url(../font/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-w600;
    src: url(../font/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Poppins-w700;
    src: url(../font/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-w800;
    src: url(../font/Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: Poppins-w900;
    src: url(../font/Poppins/Poppins-Black.ttf);
}

@font-face {
    font-family: Saira-w100;
    src: url(../font/Saira/Saira-Thin.ttf);
}

@font-face {
    font-family: Saira-w200;
    src: url(../font/Saira/Saira-ExtraLight.ttf);
}

@font-face {
    font-family: Saira-w300;
    src: url(../font/Saira/Saira-Light.ttf);
}

@font-face {
    font-family: Saira-w400;
    src: url(../font/Saira/Saira-Regular.ttf);
}

@font-face {
    font-family: Saira-w500;
    src: url(../font/Saira/Saira-Medium.ttf);
}

@font-face {
    font-family: Saira-w600;
    src: url(../font/Saira/Saira-SemiBold.ttf);
}

@font-face {
    font-family: Saira-w700;
    src: url(../font/Saira/Saira-Bold.ttf);
}

@font-face {
    font-family: Saira-w800;
    src: url(../font/Saira/Saira-ExtraBold.ttf);
}

@font-face {
    font-family: Saira-w900;
    src: url(../font/Saira/Saira-Black.ttf);
}